{% extends 'base.html' %}

{% block content %}

<div class="mt-4">
  <div class="row">
    <div class="col-md-3">
      {% for product in products %}

      <div class="card">
        <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">Prix: {{ product.price }}</p>
          <p class="card-text">Quantité en stock: {{ product.quantity }}</p>
          <a href="#" class="btn btn-primary">Voir</a>
          <a href="#" class="btn btn-warning">Modifier</a>
          <a href="#" class="btn btn-danger">Supprimer</a>
        </div>
      </div>

      {% empty %}

      <p class="text-center">
        Aucun produit trouvé!
      </p>

      {% endfor %}

    </div>
  </div>
</div>

{% endblock %}